{% extends "base.html" %}
{% block title %}Task - To-Do App{% endblock %}
{% block content %}
    <div class="task-box">
        <h2>your task</h2>
        <form action="{{url_for('task.add_task')}}" method="POST" class="task-form">
            <label for="task">Task:</label>
            <input type="text" id="task" name="title" required placeholder="Enter your task">
            <button type="submit" class="btn">Add Task</button>
        </form>
        {% if tasks %}
        <form action="{{url_for('task.clear_tasks')}}" method="post">
            <button type="submit" class="btn btn-clear">Clear Tasks</button>
        </form>
        <br>
        <table class="task-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Task</th>
                    <th>status</th>
                    <th>Change</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ task.title }}</td>
                    <td>
                        <span class="badge {{task.status|lower}}">{{ task.status }}</span>
                    </td>
                    <td>
                        <form action="{{ url_for('task.toggle_status', task_id=task.id) }}" method="POST">
                            <button type="submit" class="btn btn-update">Update</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No tasks available.</p>
        {% endif %}
    </div>
{% endblock %}